/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
  font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1 { color: #333; font-weight: 300; }

a, a:link, a:visited { color: #009dff; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 1.55em 0; line-height: 1.55em; }
ul { margin: 1em auto; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts-container {
  max-width: 740px;
  margin:2em auto;
  padding: 10px;
}
.posts {
  list-style-type: none;
  padding: 10px;
}
.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #777;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

img { width: 100%; }
.img-description {
  display:block;
  font-size:small;
  text-align: center;
  color: #777;
}

header { border-bottom: 1px solid #ddd; }
.header-content { max-width: 980px; margin:0 auto; padding:10px; }
.header-content h1 { float:left; font-weight: 700; }
.header-content > h1 > a { color: #333; }
.header-content > h1 > a:hover { text-decoration: none; }
.header-content ul { float:right; padding-left:0; margin-top: 10px; }
.header-content ul li { display:inline-block; margin-left: 20px;}
.header-content ul li:first-of-type {margin-left:0; }
.header-content:after {
  content: "";
  display:table;
  clear:both;
}

.sword-banner {
  display:block;
  max-width: 100%;
  height: 200px;
  background-image: url("../assets/sword.jpg");
  background-repeat: no-repeat;
  background-position: center -400px;
  border-bottom: 1px solid #ddd;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  /*width: 980px;
  margin:0 auto;*/
}
footer {
  font-size: small;
  text-align: center;
}
footer img {
  width: 20px;
  height:20px;
}
footer ul { padding-left: 0; margin-top: 1em; }
footer ul li { display:inline-block; margin-left: 10px; }
footer ul li:first-of-type { margin-left: 0; }

/*****************************************************************************/
/*
/* Page
/*
/*****************************************************************************/
.page {
  max-width: 740px;
  margin:0 auto; 
  padding:10px;
  margin-top: 3em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post-container {
  max-width: 740px; 
  margin:2em auto; 
  padding:10px 12px; 
}


/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.show { display: block !important; }
#menu-toggle { display:none; width: 32px; height: 32px;}
#menu-toggle:after {content: ""; display:table; clear:both;}
@media screen and (max-width: 486px) {
  .sword-banner { height: 100px; }
  header h1 { font-size: 1.5em; }
  #nav { display: none; clear:both; }
  #nav li { display: block; margin-left:0;}
  #menu-toggle { display: block; float:right; }
}
