/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #333;
  font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
  font-weight: 100;
}
p { margin: 1em 0; }

a         { color: #F07057; text-decoration: none; }
a:hover   { color: #000; }
a:visited { color: #F07057; }
span > a:hover { color: #009dff; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  width: 980px;
  margin:0 auto;
}
.tri-container {
  padding: 12px 24px;
  /*width: 980px;*/
  margin:0 auto;
}
.title-name {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.var { color: #b294bb; }
.string { color: #d9e37a; }
.operator { color: #F07057; }

.sword-img {
  width : 250px;
  height: 250px;
  margin: 0 auto;
  display:inline-block;
  border: 1px solid #ddd;
  border-radius: 50%;
  /*background-image: url('../assets/sword.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 1200ms;
}

.sword-img:hover {
  /*transform: scale(1.15);*/
  animation: pulse 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}

.tri-navigation {
  max-width: 400px;
  height: 150px;
  margin: 0 auto;
  margin-top: -17px;
  display:block;
  background-image: url('../assets/tri-navigation.svg');
  background-repeat:no-repeat;
}

.left-menu-entry, .center-menu-entry, .right-menu-entry {
  display:inline-block;
  position: relative;
  font-size: 2em;
  font-weight: 200;
  width: 4em;
}

.left-menu-entry {
  left: -125px;
  top: 50px;

}
.center-menu-entry {
  top: 125px;
}
.right-menu-entry {
  right: -145px;
  top: 50px;
}

.footer {
  padding-top: 5em;
  font-size: small;
  font-weight: 200;
  color: #fff;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
